#top_bar{
	height:70px;
	width:100%;
	background-color:#2C2525;
	margin:0 auto; 
}

body{
    margin:0 auto;
    font-family:Helvetica;
}

#top_logo{
    float:left;
	height:60px;
	width:200px;
    margin-left:25%;
    margin-top:5px;
}

#top_margin_left{
    float:left;
    position:relative;
    right:-10%;
    top:19px;
}

.margin_index{
    position:relative;
    right:-25%!important;
    
}

.top_menu{
    color:white;
    float:left;
    font-family:LucidaGrande,Helvetica;
    font-size:20px;
    margin-right:25px;
}

.top_menu:hover{
    border-radius:3px;
    background-color:#494141;
    text-decoration:underline;
    text-decoration-color: skyblue;
}

#top_signin {
    
    display:block;
    
}

#top_signedin {
    
    display:block;
    
}

#intro_container{
    width:100%;
    height:250px;
    background-image: linear-gradient(-180deg, rgba(242,72,255,0.87) 0%, rgba(212,108,255,0.90) 25%, #38D1B9 100%);
    border: 1px solid #979797;
}

#intro_img{

    height:180px;
    width:240px;
}


#intro_text1{

    color:white;
    text-align:center;
    font-size:33px;
    position:relative;
    top:-24px;
}

#intro_text2{
    color:white;
    font-size:25px;
    float:left;
    position:relative;
    left:45%;
    bottom:20px;
    
}

#top_viewed{
    clear:left;
    width:100%;
    margin-top:10px;
}

.text_topview{
    font-size:28px;
    margin-top:10px;
    margin-left:15px;
}

.apps_container{
    width:100%;
    height:220px;
    background-color:#FBFBFB;
    border:1px solid #979797;
}

.app_square{
    float:left;
    height:218px;
    width:20%;
    border-right:10px solid #979797;
}

.app_square1{
    float:left;
    height:218px;
    width:20%;
}



.no_right_border{
    border-right:none !important;
}

.top_new_img_dimens{
    position:relative;
    align-content: center;
    top:5px;
    left:20%;
    width:60%;
    height:80%;
}

#half_bot_container{
    width:100%;
    height:560px;
    clear:both;
    
}

#get_started_container{
    width:100%;
    height:280px;
    -webkit-clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 64%);
    clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 64%);
    background-image: linear-gradient(-180deg, rgba(120,228,229,0.87) 0%, rgba(103,255,178,0.90) 48%, #9AFFEF 100%);

}

#blue_bottom{
    position:relative;
    width:100%;
    height:280px;
    -webkit-clip-path: polygon(0 45%, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 45%, 100% 20%, 100% 100%, 0 100%);
    background-image: linear-gradient(-180deg, rgba(120,228,229,0.87) 0%, rgba(93,183,210,0.90) 64%, #3FAAF4 97%);
}

#bot_container{
    height:140px;
	width:100%;
	background-color:#2C2525;
	margin:0 auto; 
    clear:both;
}
#bot_img{
    position:relative;
    bottom:385px;
    width:390px;
    height:380px;
}

a{
    color:white; 
}

a:hover{
    color:white;
    background-color:#494141
}

.buttons{
    color:skyblue;
}

#bot_text{
    margin-left:55px;
    position:relative;
    top:10px;
    color:white;
    height:140px;
    font-size:28px;
}

#left_text{
    height:140px;
    width:1000px;
    margin-left:25%;
    
    float:left;

    
}

#left{
    width:290px;
    height:140px;
    float:left;
}

#edit_left{
    color:white;
    font-size:15px;
    position:relative;
    top:10px;
}

#right{
    float:left;
    width:290px;
    height:140px;
    position:relative;
    left:41%;
}

#findus{
    margin-left:95px;
    position:relative;
    top:10px;
    color:white;
    font-size:28px;
}

#face_logo{
    width:25px;
    height:25px;
    position:relative;
    top:12px;
    left:50px;
}

#face_id{
    color:white;
    position:relative;
    top:15px;
    left:50px;
    font-size:22px;
}

#getstarted{
    position:relative;
    border-radius:12px;
    top:100px;
    left:40%;
    width:400px;
    height:50px;
    background-color:#ea277c;  
}

#getstarted:hover{
    background-color:#bc2165;  
}


#getstarted_text{
    color:white;
    position:relative;
    top:8px;
    left:150px;
    font-size:22px;
}

#getstarted_text1{
    color:white;
    float:left;
    position:relative;
    left:150px;
    top:10px;
   
    font-size:22px;
}

#contact_form{
    margin-left:25%;
}

#popupBoxOnePosition{
top:  0; 
left: 0; 
position: fixed; 
width: 100%; 
height: 120%;
background: rgba(0,0,0,0.8); 
display: none;

}

.popupBoxWrapper{
width: 550px;
height: 500px;
margin: 50px auto;
margin-top:80px;
text-align: left;
}

.popupBoxContent{
background-color: #eaeaea; 
padding: 15px;
border-radius:8px;

}

#register_color{
    color:blue;

}

#register_color:hover{
   background-color:aliceblue;

}

.sign-in-but{
    margin-bottom:20px;
}

#sign-in-close{
    background-color:#ba0b0b;
    border-color:#8e0808;
    border-radius:4px;
    position:relative;
    left:60px;
    width:400px;
}

#sign-in-close:hover{
    background-color:#8e0808;
}

/* APPS ON STORE */

#all_apps{
    width:75%;
    height:auto;
    margin-bottom:20px;
    margin-top:20px;  
    margin-left:350px;
}

table {
    border: 1px solid gray;
    font-size:14px;
    width:174px;
    height:270px;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    
}

th{
    
    padding:1px;
    background-color: aliceblue;
    
}

th,td {
	border-right: 1px solid gray;
	text-align:center;
    word-wrap: break-word;
}
tr{
    width:50px;
    
}

.app_img{
    width:168px;
    height:168px;
    padding:8px;
}

.apps_detail{
    float:;
}

#android_apps{
    
}

.hide_table_android{
    display:;
}

.hide_table_ios{
    display:;
}

#ios_apps{
   
}

.app_detail_backcol{
    background-color:skyblue;
    border-radius:4px;
    
}

#app_ios_butt{
    position:absolute;
    top:420px;
    left:8%;
}
#app_android_butt{
    position:absolute;
    top:520px;
    left:8%;
}

.size_but{
    width:150px;
    height:45px;
    background-color:orangered;
}



/* END APPS ON STORE STYLE */

#add_item_info{
    
    margin-bottom:30px;
    
}